-- DropForeignKey
ALTER TABLE "status_usuario" DROP CONSTRAINT "status_usuario_usuarioId_fkey";

-- DropForeignKey
ALTER TABLE "status_usuario" DROP CONSTRAINT "status_usuario_missaoId_fkey";

-- DropForeignKey
ALTER TABLE "grupos_competicao" DROP CONSTRAINT "grupos_competicao_vencedorId_fkey";

-- DropForeignKey
ALTER TABLE "caravanas" DROP CONSTRAINT "caravanas_eventoId_fkey";

-- DropForeignKey
ALTER TABLE "checkins" DROP CONSTRAINT "checkins_usuarioId_fkey";

-- DropForeignKey
ALTER TABLE "checkins" DROP CONSTRAINT "checkins_eventoId_fkey";

-- DropForeignKey
ALTER TABLE "reportes_eventos" DROP CONSTRAINT "reportes_eventos_eventoId_fkey";

-- DropForeignKey
ALTER TABLE "reportes_eventos" DROP CONSTRAINT "reportes_eventos_reportanteId_fkey";

-- DropForeignKey
ALTER TABLE "_ParticipantesDoEvento" DROP CONSTRAINT "_ParticipantesDoEvento_A_fkey";

-- DropForeignKey
ALTER TABLE "_ParticipantesDoEvento" DROP CONSTRAINT "_ParticipantesDoEvento_B_fkey";

-- DropForeignKey
ALTER TABLE "_MembrosDoGrupo" DROP CONSTRAINT "_MembrosDoGrupo_A_fkey";

-- DropForeignKey
ALTER TABLE "_MembrosDoGrupo" DROP CONSTRAINT "_MembrosDoGrupo_B_fkey";

-- DropForeignKey
ALTER TABLE "_MembrosDaCaravana" DROP CONSTRAINT "_MembrosDaCaravana_A_fkey";

-- DropForeignKey
ALTER TABLE "_MembrosDaCaravana" DROP CONSTRAINT "_MembrosDaCaravana_B_fkey";

-- DropForeignKey
ALTER TABLE "_ConfirmadoresDoReporte" DROP CONSTRAINT "_ConfirmadoresDoReporte_A_fkey";

-- DropForeignKey
ALTER TABLE "_ConfirmadoresDoReporte" DROP CONSTRAINT "_ConfirmadoresDoReporte_B_fkey";

-- DropTable
DROP TABLE "usuarios";

-- DropTable
DROP TABLE "eventos";

-- DropTable
DROP TABLE "missoes";

-- DropTable
DROP TABLE "status_usuario";

-- DropTable
DROP TABLE "grupos_competicao";

-- DropTable
DROP TABLE "caravanas";

-- DropTable
DROP TABLE "checkins";

-- DropTable
DROP TABLE "reportes_eventos";

-- DropTable
DROP TABLE "_ParticipantesDoEvento";

-- DropTable
DROP TABLE "_MembrosDoGrupo";

-- DropTable
DROP TABLE "_MembrosDaCaravana";

-- DropTable
DROP TABLE "_ConfirmadoresDoReporte";

-- DropEnum
DROP TYPE "CategoriaEvento";

-- DropEnum
DROP TYPE "TipoMissao";

